Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
! .env.example
.vscode
Resources/**
Scripts/CreateCerts/*.key
Scripts/CreateCerts/*.crt
Scripts/CreateCerts/*.csr
Scripts/CreateCerts/*.p12
Scripts/CreateCerts/*.cnf-e
Scripts/CreateCerts/*.srl
device.plist
action_executed.flag
.idea/
